{{#extend "default-layout"}}

	{{#prepend "title"}}{{blog.title}} - {{/prepend}}
	
	{{#replace "pageTitle"}}
		<a id="pagetitle" href="#" title="{{blog.title}}">{{blog.title}}</a>
	{{/replace}}

	{{#replace "content"}}

		<div id="main" class="col-left">
			{{#each blogPosts}}
			 	{{#if featureImageUrl}}
				 	<figure class="thumb col-md-2 col-sm-3 col-xs-4">
	          <img class="img-responsive" src="{{featureImageUrl}}"/>
	      	</figure>
			 	{{/if}}
				<div class="blogpost">
					<h2><a href="{{url}}" rel="bookmark">{{title}}</a></h2>
					{{#if published}}
						<div class="blog-posted">
							{{datetime publishedOn}}&nbsp; | &nbsp; Posted by : {{memberLink author}}&nbsp;
						</div>
					{{/if}}
					<div class="entry"><p>{{blurb}}</p>
					<a href="{{url}}" rel="bookmark">Read More »</a><br><br><p></p></div>
				</div>
			{{/each}}

			<div class="blog-pagination"><!-- page pagination -->                                       	     			
    		<div class="navigation">
    			<div class="alignleft">
    				{{#unless blogPosts.first}}
						<div class="newer">
						  <a href="{{blog.url}}?page={{plus blogPosts.number -1}}">
						      <i class="fa fa-arrow-left"></i> Newer posts
						  </a>
						</div>
						{{/unless}}
    			</div>
    			<div class="alignright">
    				{{#unless blogPosts.last}}
						<div class="older">
						  <a href="{{blog.url}}?page={{plus blogPosts.number 1}}">
						      Older posts <i class="fa fa-arrow-right"></i>
						  </a>
						</div>
						{{/unless}}
    			</div>
    			<div class="clear"></div>
    		</div>
       </div>

		</div>
		<div id="sidebar" class="col-right">
			<div id="sidebar_content">
				<div id="text-3" class="widget widget_text">
					<h3>Our Vision<span>&nbsp;</span></h3>			
					<div class="textwidget">Sample text widget. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea.</div>
				</div> 
			</div>
		</div>

	{{/replace}}

{{/extend}}