
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	{{#section "head"}}
	<meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
	<title>{{#section "title"}}{{huddle.name}}{{/section}}</title>
	<link href="/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
	<link rel="stylesheet" type="text/css" href="/resources/style.css" media="screen" />
	<!--[if IE 6]>
	<link rel="stylesheet" type="text/css" media="all" href="css/ie6.css" />
	<![endif]-->	
	<!--[if IE 7]>
	<link rel="stylesheet" type="text/css" media="all" href="css/ie7.css" />
	<![endif]-->
	<!--[if IE 8]>
	<link rel="stylesheet" type="text/css" media="all" href="css/ie8.css" />
	<![endif]-->
	{{/section}}
</head>
<body >
<div id="wrapper">
	{{#section "openHeader"}}
	<div id="head_content">
	{{/section}}
		<div id="head_wrap">
			{{#section "headWrap"}}
			<div class="typeface-js" id="top-nav">
				<a class="home" href="#" ></a>
				<ul class="nav">
					{{#each menu.items}}
						<li class="page_item {{#if selected}}current_page_item{{/if}}">
							<a href="{{url}}"><span class="menu">{{label}}</span></a>
						</li>
					{{/each}}
				</ul> 
			</div>
			<div id="logo">
				<a href="#" title=""><img src="/resources/images/logo.png" /></a>
			</div>
			<div class="clear"></div>
			{{/section}}
		</div>
	{{#section "closeHeader"}}
	</div>
	{{/section}}

	{{#section "ribbon"}}
	<div id="ribbon_content">
		<div id="ribbon_title">
			<h1 id="pagetitle">
				{{#section "pageTitle"}}
					<a id="pagetitle" href="#" title="{{page.title}}">{{page.title}}</a>
				{{/section}}
			</h1>
		</div>
	</div>
  {{/section}}
  {{#section "openContent"}}
	<div id="content" class="page col-full">
	{{/section}}	
	{{#section "content"}}
	{{/section}}
	{{#section "closeContent"}}
	</div><!-- /#content -->
	{{/section}}
	{{#section "footer"}}
	<div id="footer">
		<div class="inner">
			<ul class="nuv">
			{{#each menu.items}}
				<li class="page_item"><a href="{{url}}"><span class="menu">{{label}}</span></a></li>
			{{/each}}
			</ul>
			<div id="social_foot">
				<a target="_blank" href="#"><img src="/resources/images/fb_icon.png" /></a>
				<a target="_blank" href="#"><img src="/resources/images/tw_icon.png" /></a>
				<a href="#"><img src="/resources/images/rss_icon.png" /></a>
			</div>			 
			<div class="clear"></div>
		</div>
		<div id="copywrite">   
			<p>&copy; 2014&nbsp;Non-Profit Foundation Theme. All rights Reserved.</p><a target="_blank" class="logo_icon" href="#">Non-Profit Theme</a>
		</div>
		<div class="fix"></div>
	</div><!-- /#footer  -->
	{{/section}}
</div><!-- /#wrapper -->
{{#section "scripts"}}
<script type='text/javascript' src='/resources/js/jquery.js'></script>
<script type='text/javascript' src='/resources/js/jquery-migrate.min.js'></script>
<script type='text/javascript' src='/resources/js/superfish.js'></script>
<script type='text/javascript' src='/resources/js/slideshow.js'></script>
<script type='text/javascript' src="/lib/bootstrap/js/bootstrap.min.js"></script>
<!--[if IE 6]>
<script type="text/javascript" src="js/pngfix.js"></script>
<script type="text/javascript" src="js/menu.js"></script>
<![endif]-->	
{{/section}}
</body>
</html>


